<h1>About Strickland Propane</h1>
<p>Strickland Propane is a propane and propane accessories supplier.Buck Strickland runs the company, headquartered at 135 Los Gatos Road in Arlen, Texas.Strickland sells propane and propane accessories, including grills such as the Vogner Char-King, Char-King Imperiale and Vogner Citizen, which are showcased during the annual "Grillstravaganza" sale. The company has five branch offices in Texas, known as Strickland Propane, Strickland North, South, East, and West.The company slogan is "Taste the meat, not the heat,"</p>
