<h1>Contact Information</h1>
<p>135 Los Gatos Road in Arlen, Texas</p>
<ul>
<li>Owner: Buck Strickland</li>
<li>Phone: 409-123-4567 ext 001</li>
<li>Email: bstrickland@stricklandpropane.com</li>
<li>Location: 135 Los Gatos Road in Arlen, Texas</li>
</ul>

<ul>
<li>Assistant manager: hank Hill</li>
<li>Phone: 409-123-4567 ext 002</li>
<li>Email: hhill@stricklandpropane.com</li>
<li>Location: 135 Los Gatos Road in Arlen, Texas</li>
</ul>
