<h1>Products</h1>
<h4>View by Category</h4>
<a href="/products/category/1">Propane</a>
<a href="/products/category/2">Accessories</a>
<a href="/products/category/3">New Products</a>
<a href="/products/category/4">Recently Updated</a>
<%= render "products/product" %>
